@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');


body{
  font-family: 'Red Hat Display','Josefin Sans';
}

/*  Header   */

h1{
  font-family: Bahnschrift;
  margin: auto;
  text-align: center;
  font-size: 5em;
}

.tagline{
  font-size: 1.3em;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1em;
}

.w3-animate-right{
  position:relative;
  animation:animateright 0.6s;
}
@keyframes animateright{
  from{right:-300px;opacity:0} to{right:0;opacity:1}}

.w3-animate-opacity{
  animation:opac 2s;
}
@keyframes opac{from{opacity:0} to{opacity:1}}



.h1one , .h1two{
  font-family: Trajan Pro, Cinzel;
  font-size: 1.2em;
}

.h1one{
  color: #E74C3C;
}

.h1two{
  color: #2471A3;
}

/*** NAvigation ***/

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 70px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
nav.primary-navigation li a {
  color: black;
}
nav.primary-navigation li a:hover {
  color: #3ca0e7;
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3CA0E7;
  text-decoration: none;
}

ul li ul li a {
  transition: all 0.5s ease;
}

#active{
  color: red;
}


/*    body    **/

body{
  background-color: #FFFFFF;
}

.head{
    font-family: Bahnschrift;
    padding-left: 40px;
}
.des{
    font-family: Bahnschrift;
    padding-left: 40px;
    color: #566573;
}

.info2{
    color:#E74C3C;
    padding-left: 10px;
    text-decoration: none;
}

h2{
  display: none;
}

/* Kingdoms */
.kingdoms{
  text-align: center;
  font-size: 1em;
  width: 800px;
  height: 700px;
  font-family: 'Josefin Slab';
  font-weight: bold;
}

tr{
  font-size: 1.5em;
}

#kingdoms-title{
  font-size: 5em;
}
/* Ministry */


.min_div{
  text-align: center; 
  margin-top: 30px;
}
.min_name{
  text-decoration: none;
  font-size: 1.8em;
  color: #34495E;
}

.min_title{
  text-decoration: none;
  font-size: 1em;
  color: #2471A3;
}

/*        Footer       */

footer{
  font-family: 'DM Mono', sans-serif;
  color: white;
  background: #000000;
}

/*** Custon ScrollBar  **/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D5DBDB; 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: linear-gradient(to bottom, #5DADE2, #48C9B0, #58D68D, #F7DC6F, #F8C471, #E59866, #EC7063);*/
  background:  linear-gradient(to bottom, #5DADE2, #48C9B0, #58D68D);
}



/** Hidden Ones **/

@media (min-width:992px) {
  
}

/**       Mobile Version       **/

@media (max-width:991px) {
  
  h2{
  font-family: 'Libre Bakerville';
  text-align: center;
  margin-bottom: 30px;
  display: block;
  }

  h1{
    display: none;
  }

  h3{

    display: none;
  }

  .tagline{
    letter-spacing: 0.2em;
    font-size: 0.8em;
  }

  .navigation{
    display: none;
  }

  .license{
    letter-spacing: 0.1em;
    font-size: 0.5em;
  }

  #homediv{
    padding: 0 20px 0 20px;
  }

  .des{
    font-size: 1em;
    padding: 0 15px 0 20px;
  }

  .info{
    padding-left: 20px;
  }

  h6{
    display: none;
  }

  .topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav #myLinks.a:hover {
  background-color: #ddd;
  color: black;
}

#samineon{
  padding: 11px 0 15px 16px;
  background-color: #F4F6F6;
  font-size: 1em;
}

h4{
  display: block;
  text-align: center;
  font-size: 1.5em;
}

.kingdoms{
  text-align: center;
  font-size: 1em;
  width: 80%;
}

.kingdoms td{
  padding: 5px 10px;
}

#kingdoms-title{
  font-size: 1.7em;
  font-weight: bold;
}

}
